<!doctype html>
<html lang="en">
{% load static%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock title%} - {{site_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'utility/css_files/tailwind_colors.css'%}"> <!-- tailwind colors utility -->
    <link rel="shortcut icon" href="{{site_fav_icon_link}}" type="image/x-icon">
    {%block head%}{%endblock head%}
</head>

<body>

    <!-- navbar -->
    <ul class="nav nav-tabs">

        {%for route_name, route_url in routes%}
        <li class="nav-item">
            <a class="nav-link {%if  route_name == active  %}active {%endif%}" aria-current="page"
                href="{{route_url}}">{{route_name}}</a>
        </li>
        {%endfor %}
    </ul>
    <!-- navbar -->
    <!-- message -->
    {%if message%}
    <div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
        {{message.body}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%}
    <!-- message -->

    <!-- mainbody -->
    <!-- mainbody -->
    {%block body%}
    {%endblock body%}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>